html, body{
    margin: 0;
    text-align: center;
}

body{
    padding-bottom: 50px;
}

header{
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
}

header > h1 {
    font-family: fantasy, sans-serif;
}

form{
    margin: 10px;
    text-align: center;
}

.container{
    margin: auto;
    width: 1000px;
}

#set_data{
    color: #fafafa;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
    background: #428bca;
    border: 0;
    border-color: #357ebd;
}

#set_data:hover{
    background: #3071a9;
    border-color: #285e8e;
    cursor: pointer;
}

a, a:visited, a:link{
    color: #4374E0;
}

a:active{
    color: #ff0000;
}